/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}











/*
Errno::ENOENT: No such file or directory @ rb_sysopen - styles/styles.scss

Backtrace:
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:454:in `read'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin.rb:109:in `method_missing'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/Users/rjharrison171/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - styles/styles.scss"; }
